<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="studentDao" class="com.bishe.dao.StudentDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--service层的依赖关系 -->
	<bean id="studentServiceImpl" class="com.bishe.service.StudentServiceImpl">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="loginAction" class="com.bishe.action.LoginAction">
		<property name="studentServiceImpl" ref="studentServiceImpl"/>
	</bean>
</beans>
